@charset "utf-8";

/*=========================================

ヘッダーなどの共通するパーツの設定はbase.css、

テキストのスタイルやサイズの初期設定はreset.cssで設定してあります。

===========================================*/


/*main-visual*/
.main-visual {
    margin: 0 auto 32px;
    width: 100%;
    height: 100vh;
    background: url(../main-visual-sample.png);
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-shadow: 1px 1px 3px  rgba(0, 0, 0, 0.6);
}
.main-visual h1 {
    margin: 0 auto;
    font-size: 4.5rem;
    color: #fff;
    text-align: center;
}

/*テンプレート  ※以下は参考例なので、各自のページを作る際には消してOKです*/

/*otoiawase-form*/
.otoiawase-form {
    width: 90%;
    margin: 0 auto 64px;
    text-align: center;
}
.otoiawase-form .attension {
    width: 90%;
    margin: 0 auto 48px;
    font-size: 1.6rem;
    line-height: 1.5;
}

/*form*/
.nyuryokuform {
    width: 80%;
    margin: 0 auto;
//    background: #f0f;
}

/*table*/
table {
    width: 100%;
    margin-bottom: 24px;
}
table tbody {
//    border: solid #ccc 1px;
}
table tbody tr {
    padding: 8px;
    margin-right: auto;
    border-bottom: solid #ccc 1px;
//    line-height: 4;
    height: 4rem;
//    box-sizing: border-box;
}
table tbody tr th {
    width: 30%;
    height: 100%;
    padding-left: 24px;
    text-align: left;
    vertical-align: middle;
//    background: #0ff;
}
.hissu {
    margin-left: 16px;
    color: #f00;
    font-size: 0.8rem;
}
table tbody tr td {
    padding: 16px 0;
    width: 68%;
    text-align: left;
    box-sizing: border-box;
}
table tbody tr td input {
    margin-left: 24px;
    width: 50%;
    line-height: 2;
}
table tbody tr td textarea {
    margin: auto 0 auto 24px;
    width: 80%;
    height: 88px;
}
.nyuryokuform p {
    padding: 16px 0;
    font-size: 24px;
    vertical-align: middle;
}
.nyuryokuform .doui,
.nyuryokuform .sousin {
    font-weight: bold;
}
.nyuryokuform .doui input {
    padding: 8px 24px;
    margin-right: 16px;
    width: 24px;
    height: 24px;
}
.nyuryokuform .sousin input {
    padding: 8px;
    width: 30%;
    font-size: 1.5rem;
}
.nyuryokuform .sousin input:hover {
    color: #fff;
    background: #b28e5d;
    border: none;
}

@media screen and (max-width: 780px) {
    .nyuryokuform {
        width: 94%;
    }
    table tbody tr{
        width: 98%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
//        flex-direction: column;
    }
    table tbody tr th {
        width: 98%;
    }
    table tbody tr td {
        width: 98%;
    }
    table tbody tr td input {
        width: 80%;
        margin-left: 24px;
    }
}